.destination-container{
  min-height: 50px;
  padding: 10px 0px;
  padding-left: 20px;
  box-sizing: border-box;
  background: white;
  border-bottom: 1px solid grey;
  cursor:pointer
}

.destination-container:hover{
  background: #aacde6;
}

.label{
  display: inline-block;
  min-width: 60px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 5px 0;
  font-size: 0.7em;
}

.label-city{
  background: rgb(53, 155, 189);
}

.label-airport{
  background: rgb(236, 87, 87);
}

.label-station{
  background: lightgreen;
}

.label-region{
  color: black;
  background: yellow;
}

.label-other{
  background: lightslategrey;
}